.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  --font-size: 16px;
}

.container {
  max-width: 500px;
  max-height: 500px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid black; */
}

.sample {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.sample-label {
  margin-bottom: .25rem;
}